---
name: Trivy DB
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:
jobs:
  build:
    name: Build DB
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.15
        uses: actions/setup-go@v2
        with:
          go-version: 1.15
        id: go

      - name: Install bbolt
        run: go get -v github.com/etcd-io/bbolt/cmd/bbolt

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Download vuln-list and advisories
        run: make db-fetch-langs db-fetch-vuln-list-main

      - name: Build the binary
        run: make build
      #
      # Full DB
      #
      - name: Build full database
        run: make db-build

      - name: Compact DB
        run: make db-compact

      - name: Compress assets
        run: make db-compress

      #
      # Light DB
      #
      - name: Build light database
        run: make db-build
        env:
          DB_TYPE: trivy-light

      - name: Compact DB
        run: make db-compact
        env:
          DB_TYPE: trivy-light

      - name: Compress assets
        run: make db-compress
        env:
          DB_TYPE: trivy-light

      #
      # Upload
      #
      - name: Upload assets
        run: ./trivy-db upload --dir assets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
