---
# Trivy DB was migrated from GitHub Releases to GitHub Packages Container registry,
# but we still need to publish it in GitHub Releases for backward compatibility.
# This workflow is planned to be removed on May 2022.
name: Trivy DB - GitHub Releases
on:
  schedule:
    - cron: '30 */6 * * *'
  workflow_dispatch:
jobs:
  build:
    name: Build DB
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
        id: go

      - name: Install bbolt
        run: go install go.etcd.io/bbolt/cmd/bbolt@v1.3.5

      # Checkout "github-releases" branch
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          ref: "github-releases"

      - name: Download vuln-list, advisories and k8s-db
        run: make db-fetch-langs db-fetch-vuln-list-main trivy-db-data

      - name: Build the binary
        run: make build
      #
      # Full DB
      #
      - name: Build full database
        run: make db-build

      - name: Compact DB
        run: make db-compact

      - name: Compress assets
        run: make db-compress

      #
      # Light DB
      #
      - name: Build light database
        run: make db-build
        env:
          DB_TYPE: trivy-light

      - name: Compact DB
        run: make db-compact
        env:
          DB_TYPE: trivy-light

      - name: Compress assets
        run: make db-compress
        env:
          DB_TYPE: trivy-light

      #
      # Upload
      #
      - name: Upload assets
        run: ./trivy-db upload --dir assets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
